.size{
    box-sizing: border-box;
    width: 100%;
}

.main{
    display: flex;
    background-color: darkgrey;
}
img{
    vertical-align: middle;
}

 .element{
    display:flex;
    width: 90%;
    height: auto;
    justify-content: center;
}

.carouselContainer{
    position: relative;
}

.slide{
    text-align: center;
}

.column{
   text-align: center;
    float: left;
    width: 16.66%;    
}


  @media screen and (max-width: 575px) { 
    /* Votre code pour petits appareils */
    #photo1 div.column {
        width: 90%;
    }
}